/**
*
* button style
*
*/

@import "./var.scss";

@mixin btnmaincolor{
    background-color: $maincolor !important;
    color: $white;
    border: 0;
}

@mixin btnforbcolor{
    background-color: $bgcolor !important;
    color: $submaincolor;
    border: 1px solid $bdcolor;
}

@mixin btnwhitecolor{
    background-color: $white !important;
    color: $sub;
    border: 0;
}

@mixin btn-lg{
    width: 88%;
    height: 40px;
    line-height: 40px;
    margin: 30px auto;
    border-radius: 3px;
    font-size: .65rem;
    & > *{
        display: block;
        font-size: .65rem;
    }
}
@mixin btn-md{
    padding: 5px 15px;
    border-radius: 3px;
    display: inline-block;
    font-size: .65rem;
    & > *{
        display: block;
        font-size: .65rem;
    }
}
@mixin btn-sm{
    padding: 3px 8px;
    border-radius: 2px;
    display: inline-block;
    font-size: .5rem;
    & > *{
        display: block;
        font-size: .5rem;
    }
}