/**
*
* c-tabUI tab style
*
*/
@import "../var.scss";
@import "../border.scss";
@import "../base.scss";

.c-tabUI{
    @include flex;
    .tab{
        font-size: .8rem;
        background-color: $white;
        text-align: center;
        @include c-bdUI-b;
        @include flexbox;
        &.active{
            color: $maincolor;
            &:before{
                border-bottom-color: $maincolor;
            }
        }
        &:last-child{
            a.tab-href{
                &:before{
                    border: 0;
                }
            }
        }
        a.tab-href{
            display: block;
            margin: 10px 0;
            position: relative;
            @include c-bdUI-r;
            p{
                margin-top: 5px;
            }
        }
    }
}

.nav-tab{
    position: relative;
    .nav-type{
        background-color: $white;
        li{
            font-size: .7rem;
            text-align: center;
            color: $submaincolor;
            padding: .7rem 0;
            &.cur{
                border-bottom: 2px solid $maincolor;
                color: $maincolor;
            }
        }
    }
}